.playlistSection {
  width: 100%;
  text-align: center;
<<<<<<< HEAD
  margin: 20px;
=======
  margin: 20px 0;
>>>>>>> Simple-updates
}

.playlistsContainer {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  justify-content: flex-start;
  text-align: left;
<<<<<<< HEAD
  max-width: 1100px;
=======
  max-width: 100%;
>>>>>>> Simple-updates
  margin: 0 auto;
}

.playlist {
  display: flex;
  align-items: center;
  color: #f0f0f0;
<<<<<<< HEAD
  border: 1px solid rgb(243, 174, 242);
  border-radius: 8px;
  overflow: hidden;
  flex: 1 1 calc(50% - 16px);
  box-sizing: border-box;
=======
  border-radius: 8px;
  overflow: hidden;
  flex: 1 1 100%;
  max-width: 100%;
  box-sizing: border-box;
  background-color: rgba(0, 0, 0, 0.1);
>>>>>>> Simple-updates
}

.playlistsContainer > .playlist:nth-child(odd) {
  flex-grow: 0;
}

.playlist:hover {
  opacity: 0.7;
  cursor: pointer;
}

.playlistArt {
  display: flex;
  flex-wrap: wrap;
  width: 100px;
  height: 100px;
  min-width: 100px;
}

.playlistArt img {
  width: 50%;
  height: 50%;
}

.playlistMetadata {
  display: flex;
  flex-direction: column;
  padding: 16px;
}

.playlistMetadata small {
  color: #ccc;
}

.playlistMetadata p {
  margin: 2px 0;
}

.playlistMetadata p:first-child {
  font-weight: bold;
}

<<<<<<< HEAD
@media (max-width: 800px) {
=======
@media (min-width: 800px) {
>>>>>>> Simple-updates
  .playlist {
    flex: 1 1 100%;
  }
}
